# This is the configuration file for Ghostty.

# /Users/${USER}/Library/Application Support/com.mitchellh.ghostty/config
#
# `ghostty +show-config --default --docs` to view a list of


# Font config
# I prefer Hack over Iosevka as the font and then make it a little more compact
font-family = Hack
adjust-cell-width = "-7%"

# Black background 
background = 000000
foreground = ffffff
